[core]
	autocrlf = input
	editor = code --wait
[user]
	email = bruno.serbena@gmail.com
	name = Bruno FS
[push]
	default = matching
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE