[core]
	autocrlf = input
	editor = code --wait
	pager = less -r
[user]
	email = aisu.wata0@gmail.com
	name = Aisu Wata
[push]
	default = matching
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[credential "https://gitlab.com"]
	provider = generic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://huggingface.co"]
	provider = generic
[safe]
	directory = *
